<div id="sidebar-wrapper">
    <div class="sidebar-brand">
        <strong><a href="/home"> <span style="color: rgb(241, 183, 75);">Over</span><span style="color: dodgerblue;">C</span></a></strong>
    </div>

    <ul class="sidebar-nav">
       <img src="http://placehold.it/100x100" class="img-responsive img-circle profile_img" alt="">
        <div class="profile_info">
            <span>Welcome,</span>
            <h2><%= user.fullname %></h2>
        </div>
        
        <li><a href="/home"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/companies"><i class="fa fa-building-o"></i>Managers</a></li>
        <li><a href="/company/search"><i class="fa fa-search"></i>Managers Search</a></li>
        <li><a href="/companies/leaderboard"><i class="fa fa-bars"></i>Leaderboard</a></li>

    </ul>
</div>